<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>邮件通知</title>
  </head>
  <body>
    <h1>Heool {{name}}</h1>
    <p>你有新的通知</p>
    <p>请点击下面的链接查看详情：</p>
  </body>
</html>
